[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
X-Nemo-Single-Instance=no
Icon=harbour-tint-overlay
Exec=harbour-tint-overlay
Name=Tint Overlay

